In [2]:
# 단순 계산
a, b = 10, 5
print(a - b, a+b, a*b, a/b,a%b)

def adding(a, b):
    return a+b

adding(a, b)

5 15 50 2.0 0

15

In [14]:
def adding(a, b , c = None):
    if (c == None):
        return a + b
    else:
        return a + b + c
    
print(adding(10, 5, 3))
print(adding(10, 5))

18
15

In [2]:
print(type(1))
print(type(1.5))
print(type('hello'))
print(type([1,2,3,4,1]))
print(type({'a': 1}))
print(type((1, 2, 3)))
print(type(set([1,2,3,4,1])))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'tuple'>
<class 'set'>

In [7]:
customer1 = 100
customer2 = 200
customer3 = 300

customers = [customer1, customer2, customer3]
customers

[100, 200, 300]

In [8]:
# 리스트에 행 추가 (1)
customer0 = 0
customers.insert(0, customer0)
customers

[0, 100, 200, 300]

In [9]:
# 리스트에 행 추가 (2)
customer4 = 400
customers.append(customer4)
customers

[0, 100, 200, 300, 400]

In [10]:
print(customers.pop())
print(customers)

400
[0, 100, 200, 300]

In [11]:
print(customers + customers)
print(customers * 3)

[0, 100, 200, 300, 0, 100, 200, 300]
[0, 100, 200, 300, 0, 100, 200, 300, 0, 100, 200, 300]

In [12]:
customers.sort()
print(customers)
customers.sort(reverse = True)
print(customers)

[0, 100, 200, 300]
[300, 200, 100, 0]

In [13]:
mix_customer = ['Robert', 36, 183.5, True]
customers.extend(mix_customer)
customers

[300, 200, 100, 0, 'Robert', 36, 183.5, True]

In [23]:
locker = {'Robert' : 264, 'John': 666}
print(locker['Robert'])
print(locker['John'])
print(locker.keys(), locker.values(), locker.items())

264
666
dict_keys(['Robert', 'John']) dict_values([264, 666]) dict_items([('Robert', 264), ('John', 666)])

In [24]:
# 문자열
text = "What's happend happened"
text

"What's happend happened"

In [33]:
print(text.lower())
print(text.upper())
print(text.islower())
print(text.isupper())
print(len(text))
print(text[0], text[1], text[-1])
print(text[0:4], text[:4], text[15:], text[-8:])

text = text.replace("What", "what")
print(text)

what's happend happened
WHAT'S HAPPEND HAPPENED
True
False
23
w h d
what what happened happened
what's happend happened

In [166]:
print("I am %d years old" %20)
print("I love playing %s" % "soccer")
print("Banana starts with %c" % "B")

print("I am {} years old". format(20))
print("I love %s and %s" %("soccer", "basketball"))
print("I love %s and %s" %("basketball", "soccer"))

print("I am {} years old, and love playing {}".format(20, "soccer"))
print("I am {0} years old, and love playing {1}".format(20, "soccer"))
print("I am {1} years old, and love playing {0}".format(20, "soccer"))

print("I am {age} years old, and love playing {sport}".format(age = 20, sport = "soccer"))

I am 20 years old
I love playing soccer
Banana starts with B
I am 20 years old
I love soccer and basketball
I love basketball and soccer
I am 20 years old, and love playing soccer
I am 20 years old, and love playing soccer
I am soccer years old, and love playing 20
I am 20 years old, and love playing soccer

In [37]:
import datetime as dt
import time as tm
time = tm.time()
print(time, type(time))

dtnow = dt.datetime.fromtimestamp(tm.time())
print(dtnow)

1699190498.8033457 <class 'float'>
2023-11-05 22:21:38.803858

In [38]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second

(2023, 11, 5, 22, 21, 38)

In [43]:
delta = dt.timedelta(days = 7)
today = dt.date.today()
today - delta

datetime.date(2023, 10, 29)

In [44]:
# str -> datetime
dt_datetime = dt.datetime.strptime("2022-07-03 14:00:00", "%Y-%m-%d %H:%M:%S") 
print(dt_datetime, type(dt_datetime))

2022-07-03 14:00:00 <class 'datetime.datetime'>

In [45]:
# datetime -> str
dt_datetime = dt.datetime.now() 
str_datetime = dt.datetime.strftime(dt_datetime, "%Y-%m-%d") 
type(str_datetime)

str

In [46]:
# timestamp -> datetime
timestamp = tm.time()
date = dt.datetime.fromtimestamp(timestamp)
date

datetime.datetime(2023, 11, 5, 22, 23, 57, 278862)

In [48]:
str_datetime = "2022-07-03 14:00:00"
time_tuple = dt.datetime.strptime(str_datetime, "%Y-%m-%d %H:%M:%S").timetuple()
time_tuple

time.struct_time(tm_year=2022, tm_mon=7, tm_mday=3, tm_hour=14, tm_min=0, tm_sec=0, tm_wday=6, tm_yday=184, tm_isdst=-1)